flask==3.0.3
gunicorn==22.0.0
google-api-python-client==2.137.0
google-generativeai==0.7.2
edge-tts>=6.1.19
gTTS==2.5.1
moviepy==1.0.3
Pillow==10.4.0
numpy==1.26.4
imageio==2.34.2
imageio-ffmpeg==0.5.1
requests==2.32.3
python-dotenv==1.0.1
